.responseButton {
  font-family: "Segoe UI", serif;
  color: #f2f2f2;
  padding: 3vmin;
  font-size: 1rem;  //rem is coef * settings val set in method applyCssFromSettings in app component
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  outline:none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.responseButton:hover {
  opacity: 0.8;
}

.selection-medium {
  border-radius: 3vmin;

  width: 70%;
  height: 80%;
}

.selection-high {
  width: 100%;
  height: 100%;

}
