<div class="header" [ngClass]="isQuitDisplayed()? 'bg-transparent' : 'box-shadow'" *ngIf="displayHeader()">

  <div class="left-side" >
    <div class="app-name" *ngIf="isPolyQuizDisplayed()">
      PolyQuiz
    </div>
    <a class="help-button" *ngIf="isPolyQuizDisplayed()" (click)="helpButtonPressed()">
      <img src="assets/images/flasher.png">
      <div class="text-aide">Aide</div>
      <img src="assets/images/flasher.png">
    </a>
  </div>


  <div class="right-side">
    <a class="disconnect" *ngIf="isDisconnectDisplayed()" (click)="logout()">
      Déconnexion
    </a>

    <a class="quitter" *ngIf="isQuitDisplayed()" (click)="quitQuiz()">
      Quitter le quiz
    </a>

    <a class="admin" *ngIf="!authService.isAuth() && !isOnAdminLoginPage()" [routerLink]="['/login/admin']">
      <img src="assets/images/lock.svg">
      <div> Admin </div>
    </a>

    <a class="resident" *ngIf="!authService.isAuth() && isOnAdminLoginPage()" [routerLink]="['/login/user']">
      <img src="assets/images/user.svg">
      <div> Résident </div>
    </a>
  </div>

</div>
