@import "../../styles/variables";

/**
 Use :host to apply some style to your entire component #24c6dc, #514a9d
 #0f0c29, #302b63, #24243e linear-gradient(to right,#302b63, #0f0c29, #302b63);
 */
:host {
  color: $white;
}

.header {
  visibility: visible;
  display: flex;
  justify-content: space-between;
  background-color: #3D3D3D;
}

.box-shadow {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.left-side{
  display: flex;
  flex-direction: row;
}

.right-side {
  display: flex;
  flex-direction: row;
}

.app-name {
  width: 10vw;
  font-size: 1.5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2A2A2A;
  padding: 1vmin;
  height: 100%;
  font-family: "Segoe UI Black", sans-serif;
}

.help-button{
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #65a800;
  padding: 1vmin;
  height: 100%;
  font-family: "Segoe UI Black", sans-serif;
}

.help-button:hover{
  background-color: #4e8100;
}

.help-button img{
  height: 4vmin;
  width: 4vmin;
  //height: 100%;
}

.text-aide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left:2vmin;
  padding-right:2vmin;
}

.disconnect {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800000;
  padding: 1vmin;
  height: 100%;
  font-family: "Segoe UI Black", sans-serif;
}

.disconnect:hover {
  background-color: #a40000;
}

.quitter {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800000;
  padding: 1vmin;
  height: 100%;
  border-bottom-left-radius: 1vmin;
  font-family: "Segoe UI Black", sans-serif;
}

a {
  height: 100%;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.admin {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #5d5d5d;
  padding: 1vmin;
  height: 100%;
  font-family: "Segoe UI Black", sans-serif;
}

.admin {
  background-color: #7b7b7b;
}

.admin div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left:2vmin;
  padding-right:2vmin;

}

.resident {
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #5396ec;
  padding: 1vmin;
  height: 100%;
  font-family: "Segoe UI Black", sans-serif;

}

.resident:hover{
  background-color: #496db9;
}

.resident div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left:2vmin;
  padding-right:2vmin;
}

.resident img, .admin img {
  height: 4vmin;
  width: 4vmin;
}
