<div class="header"  *ngIf="displayHeader()">

  <div >
    <div class="app-name" *ngIf="isPolyQuizDisplayed()">
      PolyQuiz
    </div>
  </div>


    <a class="disconnect" *ngIf="isDisconnectDisplayed()" (click)="logout()">
      Déconnexion
    </a>

    <a class="quitter" *ngIf="isQuitDisplayed()" (click)="quitQuiz()">
      Quitter
    </a>

    <a class="admin" *ngIf="!authService.isAuth()" [routerLink]="['/login/admin']">
      <img class="arrow-img" src="assets/images/lock.svg">
      <div>
        Admin
      </div>
    </a>

</div>
