<div class="create-account-container user-container ">

  <div class="table-custom">

    <div class="title-container"  [style.backgroundColor]="theme.color">
      <div class="name-container" *ngIf="!isEditNameOpen && theme !== undefined">
        <div class="text-create-account">{{theme.name}}</div>
        <img *ngIf="!isLoading" class="image-edit" src="assets/images/pen.svg" (click)="isEditNameOpen = true"/>
      </div>

      <div class="name-container" *ngIf="isEditNameOpen">
        <div class="text-input-container">
          <form class="form-edit-name" [formGroup]="nameForm">
            <input class="input-custom" placeholder="Thème" type="text" id="lastName" maxlength="20"
                   [formControlName]="'themeName'" [disabled]="isLoading">
            <img *ngIf="!isLoading" class="image-edit" src="assets/images/clear_white.svg" (click)="closeNameEdit()"/>
          </form>
        </div>
      </div>
    </div>

    <div class="main-container" [style.backgroundColor]="theme.color + '50'">


      <div class="info-nb-quiz">Ce thème comporte {{theme.nbQuiz}} quiz</div>

      <div class="color-edit-container">
        <div class="text-for-input">Couleur du thème &nbsp;</div>
        <form class="form" [formGroup]="colorForm">
          <select [(ngModel)]="selectedColor" [(style.backgroundColor)]="selectedColor" class="text-for-input"
                  id="color" [formControlName]="'color'" [disabled]="isLoading" [class.disable-button]="isLoading">
            <option *ngFor="let c of colors" [ngValue]="c" [style.backgroundColor]="c"
                    [selected]="theme.color === c"></option>
          </select>
        </form>
      </div>

      <button (click)="deleteButtonPressed()" [disabled]="isLoading" [class.disable-button]="isLoading"
              class="link-card delete-button-bg">
        <div>Supprimer le thème</div>
      </button>


      <div class="button-container">
        <button (click)="backPressed()" class="button-card back-button-bg">Retour</button>
        <button (click)="saveButtonPressed()" class="button-card create-button-bg" [disabled]="!hasChangeBeenDone()"
                [class.disable-button]="!hasChangeBeenDone()">Enregistrer
        </button>
      </div>

    </div>
  </div>
</div>
