@import '../../../styles/card.scss';

.questionDisplay{
  margin: 20pt;
  padding-left: 0;
  float: none;
  border-radius: 50px;
  background-color: #3396FF;

  text-align: center;
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-size: 4vmin;
  font-weight: bold;
}

.rightPart{
  background-color: lightblue;
  border-radius: 50px;
  margin:0;
}

.leftPart, .rightPart, .deletePart{
  padding-top: 10pt;
  padding-bottom: 10pt;
}

.deletePart{
  background-color: red;
  border-radius: 50px;
}

.leftPart{
  background-color: rgb(255, 255, 255, 0);
  border-color: rgb(255, 255, 255, 0);
}

