.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: var(--customWhite);
  background-color: #3CABC2;
  border: #3CABC2 solid 0 ;
  border-radius: 3vmin;

  margin: 2vmin;
  padding: 2vmin;
  font-family: "Segoe UI Black";
  font-size: 3vmin;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.create-button {
  background-color: #3CABC2;
}

.create-button:hover{
  background-color: #2b6273 !important;
}


.save-button {
  background-color: var(--customGreen);
}

.save-button:hover{
  background-color: #5c9900 !important;
}

.low-opacity {
  opacity: 0.5;
}


.back-button {
  background-color: #929292;
}

.back-button:hover{
  background-color: #848484 !important;
}





a:hover{
  color: var(--customWhite);
  cursor: pointer;
}

.background {
  position: absolute;
  background-color: #000000;
  opacity: 0.5;

  left: 10vw;
  top: 0;

  width: 90vw;
  height: 100%;

  filter:blur(20vmin);
}

app-residents-list {
  display: flex;
  flex-flow: wrap;

  align-items: center;
  width: 100%;
  height: 100%;
}

.blur{
  filter: blur(1vmin);
}

h2 {
  //color: #2b6273 !important;
}
