.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: white;
  background-color: #3CABC2;
  border: #3CABC2 solid 0px ;
  border-radius: 40px;

  margin: 20px;
  padding: 20px;
  font-family: "Segoe UI Black";
  font-size: xx-large;
}

a:hover{
  color: white;
  cursor: pointer;
}

.background {
  position: absolute;
  background-color: #000000;
  opacity: 0.5;

  left: 10vw;
  top: 0;

  width: 90vw;
  height: 100%;

  filter:blur(200px);
}

app-residents-list {
  display: flex;
  flex-flow: wrap;

  align-items: center;
  width: 100%;
  height: 100%;
}

.blur{
  filter: blur(15px);
}
