@import "../../styles/variables";

.headerLine {
  display: inline-block;
  margin: 1vmin;
  position: relative;
  border-radius: 1vmin;
  padding: 0 1vmin 1vmin 1vmin;
  width: 100%;
}

.container-theme{
  width: 100%;
  padding: 0;
}


app-theme-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  overflow-y: scroll;
  height: 75vh;

}

.bottom-shadow {
  position: absolute;
  height: 00vmin;
  top: 100%;
  bottom: 0;
  width: 86%;
  left: 12%;
  right: 2%;

  -webkit-box-shadow: 0 0 1vmin 1vmin $app-background-color;
  -moz-box-shadow: 0 0 1vmin 1vmin $app-background-color;
  box-shadow: 0 0 1vmin 1vmin $app-background-color;
}
