<div class="global-container">
  <div class="create-table">
    <div class="title-container">Question {{questionNumber}}</div>
    <form class="quiz-form" [formGroup]="questionForm">


      <div id="question">
        <label class="text-for-input">La question</label>
        <div class="input-text-container">
          <input class="text-input" type="text" [formControlName]="'question'" [disabled]="isLoading" [(ngModel)]="questionName"
                 [class.disable-button]="isLoading" placeholder="Nom de la Question" value="{{questionName}}" maxlength="100">
        </div>
      </div>

      <div id="correctAnswer" *ngIf="this.rightAnswer">
        <label class="text-for-input">La bonne réponse</label>
        <div class="input-text-container">
          <input class="text-input" type="text" [formControlName]="'rightAnswer'" [disabled]="isLoading" [(ngModel)]="rightAnswer.value"
                 [class.disable-button]="isLoading" placeholder="Une bonne réponse" value="{{rightAnswer.value}}" maxlength="50">
        </div>
      </div>


      <div id="notCorrectAnswers">
        <label class="text-for-input" *ngIf="!hasEnoughAnswers()">La mauvaise réponse</label>
        <label class="text-for-input" *ngIf="hasEnoughAnswers()">Les mauvaises réponses</label>
        <div class="input-text-container wrong-answer-container" formArrayName="wrongAnswers" *ngFor="let address of answers.controls; let i=index">
            <div style="width: 100%; padding: 0" [formGroupName]="i">
              <input class="text-input" type="text" [formControlName]="'answer'" placeholder="Une mauvaise réponse" maxlength="50">
            </div>
          <i class="far fa-trash-alt button-delete" *ngIf="hasEnoughAnswers()" (click)="removeWrongAnswer(i)"></i>
        </div>

        <a class="text-for-input new-theme" (click)="addAnswer()">Nouvelle réponse fausse +</a>
      </div>


      <div class="button-container">
        <button class="button back-bg"  (click)="goToQuestionList()" *ngIf="hasOneQuestionAlreadyCreated()">Retour</button>
        <button type="submit" class="button create-bg" (click)="addQuestion()"
                [disabled]="questionForm.invalid" [class.disable-button]="questionForm.invalid || isLoading"
                [ngClass]="(!questionForm.invalid && !isLoading)? 'hover-button' : ''">Enregistrer </button>
      </div>
    </form>
  </div>
</div>
