<div class="container">
  <div class="row" id="totalQuiz">
    <div class="col-lg-9 col-md-9 col-xs-9 xol-sm-9 itemTitle">
      Quiz faits au total
    </div>
    <div id="totalQuizValue" class="col-lg-3 col-md-3 col-xs-3 xol-sm-3 itemTitle">
      <div *ngIf="totalQuizMade == undefined;else definedTotalQuiz">000</div>
      <ng-template #definedTotalQuiz> {{totalQuizMade}} </ng-template>
    </div>
  </div>

  <div class="row" id="weekQuiz">
    <div class="col-lg-9 col-md-9 col-xs-9 xol-sm-9 itemTitle">
      Quiz faits cette semaine
    </div>
    <div id="weekQuizValue" class="col-lg-3 col-md-3 col-xs-3 xol-sm-3 itemTitle">
      <div *ngIf="weekQuizMade == undefined;else definedQuizValue">000</div>
      <ng-template #definedQuizValue> {{weekQuizMade}} </ng-template>
    </div>
  </div>

  <div class="row" id="successPercentage">
    <div class="col-lg-9 col-md-9 col-xs-9 xol-sm-9 itemTitle">
      Taux de réussite
    </div>
    <div id="successPercentageValue" class="col-lg-3 col-md-3 col-xs-3 xol-sm-3 itemTitle">
      <div *ngIf="successPercentage == undefined;else definedSuccessPercentage">???%</div>
      <ng-template #definedSuccessPercentage> {{successPercentage}}% </ng-template>
    </div>
  </div>

  <div class="row" id="quizPerfected">
    <div class="col-lg-9 col-md-9 col-xs-9 xol-sm-9 itemTitle">
      Quiz réalisé sans erreur
    </div>
    <div id="quizPerfectedValue" class="col-lg-3 col-md-3 col-xs-3 xol-sm-3 itemTitle">
      <div *ngIf="perfectQuizMade == undefined;else definedQuizPerfected">???</div>
      <ng-template #definedQuizPerfected> {{perfectQuizMade}} </ng-template>
    </div>
  </div>

</div>
