@import '../../../styles/card.scss';

.bluecard{
  margin: auto;
  padding: 20pt;
  float: none;
  border-radius: 25px;
  background-color: blue;

  text-align: center;
  color: var(--customWhite);
  font-family: var(--customFont), sans-serif;
  font-size: 0.6rem;
  font-weight: bold;

}

input.mycheckbox {
  width :20px;
  height :20px;
}

.answer-form {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

input, .form-control, .btn-md, .btn-lg{
  border-radius: 25px;
}


.btn-perso{
  text-align : center;
  font-family: var(--customFont), sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  color: blue;
  background-color: var(--customWhite);
}

