<div class="bluecard">
  <h2></h2>
  <form class="quiz-creation" [formGroup]="questionForm">
    <label for="label">Nouvelle question</label>
    &nbsp;
    <input class="input-custom col-6" type="text" id="label" [formControlName]="'label'">
    &nbsp;

    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form col-8" [formGroupName]="i">
          <label>
            Réponse
            <input type="text" [formControlName]="'value'">
            <br>
            <input type="checkbox" class="mycheckbox" [formControlName]="'isCorrect'"> Correcte
          </label>
        </div>
      </div>
    </div>
    <button class="btn-lg btn-perso" (click)="addAnswer()">Ajouter une réponse</button>
    &nbsp;
    <button type="submit" class="btn-lg btn-perso" (click)="addQuestion()">Créer</button>

  </form>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
