
.create-account-container {
  position: absolute;
  top: 58%;
  bottom: 42%;
  left: 55vw;
  right: 45vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  padding: 2vmin;
  width: 100vmin;
  border: 0 solid transparent;
  border-radius: 5vmin;
  background-color: #D8F8FF;
}

.text-create-account {
  text-align: center;
  width: 100%;
  color: black;
  font-size: 0.8rem;
  padding-bottom: 2vmin;
  display: inline-block;
  font-family: "Segoe UI Black", sans-serif;
}

.disable-button {
  opacity: 0.5;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60vmin;
}

.input-custom {
  padding: 1vmin;
  border: var(--customGray) 0.3vmin solid;
  border-radius: 2vmin;
  font-family: "Segoe UI Black", sans-serif;
  font-size: 0.6rem;
  text-align: center;
  width: 100%;
}

.input-custom::placeholder {
  color: #b4b4b4;
}


.button-card {
  padding: 1vmin;
  margin: 1vmin;
  border: var(--customWhite) 0 solid;
  border-radius: 2vmin;
  color: var(--customWhite);
  text-align: center;
  font-family: "Segoe UI Black", sans-serif;
  font-size: 0.6rem;
  width: 100%;
}

.link-card {
  padding: 1vmin;
  margin-bottom: 1vmin;
  border: var(--customWhite) 0 solid;
  border-radius: 10vmin;
  color: var(--customWhite);
  text-align: center;
  font-family: "Segoe UI Black", sans-serif;
  font-size: 0.4rem;
  width: 100%;
}

.margin-top{
  margin-top: 0.5vmin;
}

.back-button-bg {
  background-color: #929292;
}

.back-button-bg:hover {
  background-color: #848484;
}


.share-button-bg {
  background-color: #2E7F90;
}

.share-button-bg:hover {
  background-color: #286d7c;
}

.stats-button-bg {
  background-color: var(--customOrange);
}

.stats-button-bg:hover {
  background-color: #bf8e08;
}

.delete-button-bg {
  background-color: #9d0000;
}

.delete-button-bg:hover {
  background-color: var(--customDarkRed);
}


.create-button-bg {
  background-color: var(--customGreen);
}

.create-button-bg:hover {
  background-color: #589200;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  margin-top: 2vmin;
}


.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.checkbox-container div {
  width: 100%;
  margin: 1vmin;
}

.list-name{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-name div {
  font-weight: 600;
  font-family: "Segoe UI", sans-serif;
  font-size: 0.6rem;
  padding: 1.5vmin;
  margin: 1vmin;
  border: 0 solid transparent;
  border-radius: 3vmin;
  background-color: #90D3E1;

}

.checkbox-container label {
  flex: 1;
  text-align: center;
  background-color: #56A5B6;
  margin: 0;
  padding: 1vmin;
  border: #5D5D5D 0 solid;
  border-radius: 10vmin;
  font-family: "Segoe UI Black", sans-serif;
  font-size: 0.6rem;
  color: var(--customWhite);
  opacity: 0.5;
  width: 100%;
}

.checkbox-container input{
  display: none;
}

.checkbox-container input:checked + label {
  opacity: 1;
  background-color: #3CABC2;
}

.checkbox-container input:checked + label:hover {
  opacity: 1;
  background-color: #308a9c;
}

.checkbox-container input + label:hover {
  opacity: 0.7;
}


.checkbox-container label {
  cursor: pointer;
  opacity: 0.5;
}

.disable-button {
  opacity: 0.5;
}

.assistance-text {
  font-family: "Segoe UI Black", sans-serif;
  font-size: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #5D5D5D;
}


.assistance-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vmin;
}


.checkbox {
  width: 100%;
}

.deletePressed {
  padding: 1vmin;
  margin-bottom: 1vmin;
  border: var(--customWhite) 0 solid;
  border-radius: 2vmin;
  color: var(--customWhite);
  text-align: center;
  font-family: "Segoe UI Black", sans-serif;
  font-size: 1.2rem;
  width: 100%;
}

