
#number {
  background-color: #919191;
  border-top-left-radius: 25px;
}

#questionAndResponse {
  background-color: #5D5D5D;
}

#score {
  background-color: #358DFF;
  border-top-right-radius: 25px;
}

.itemTitle {
  color: #FFFFFF;
  text-align: center;
  padding: 8px;
  font-weight: 600;
}

#end {
  background-color: #5D5D5D;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 15px;
}

.container {
  max-width: 100%;
}
