
#number {
  background-color: var(--customOrange);
  border-top-left-radius: 3vmin;
  flex: 1;
}

#questionAndResponse {
  background-color: var(--customGray);
  flex: 8;
}

#score {
  background-color: #4775b1;
  border-top-right-radius: 3vmin;
  flex: 1;
}

.itemTitle {
  color: var(--customWhite);
  text-align: center;
  padding: 2vmin 1vmin;
  font-weight: 500;
  font-size: 0.6rem;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-container div {
  width: 100%;
}

.end-container{
  height: 3vmin;
  border: 0 solid transparent;
  background-color: var(--customGray);
  border-bottom-left-radius: 3vmin;
  border-bottom-right-radius: 3vmin;
  margin-bottom: 3vmin;
}
