
.resident-container {
  padding: 2vmin;
  margin: 1vmin;
  border: 0 solid;
  border-radius: 3vmin;
  display: flex;
  cursor: pointer;

  height: 10vmin;
}

.normal-color {
  background-color: var(--customResidentItemBlue);
}

.normal-color:hover {
  background-color: #7cb3bf;
}

.disable-color {
  background-color: #5D5D5D;
}

.selected-color {
  background-color: #3497ac;
}

.selected-color:hover {
  background-color: #3393a8;
}

.img-user {
  fill: var(--customWhite);
  width: 6vmin;
  padding-right: 1vmin;

}

.username {
  font-size: 3vmin;
  font-family: "Segoe UI Black";
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.disable-color-text {
  color: var(--customWhite);

}

.normal-color-text {
  color: var(--customDarkGray);
}

