
.create-account-container {
  position: absolute;
  top: 58%;
  bottom: 42%;
  left: calc(50vw + (var(--customMenuWidth) / 2));
  right: calc(50vw - (var(--customMenuWidth) / 2));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  padding: 2vmin;
  border: #D8F8FF 0 solid;
  border-radius: 5vmin;
  background-color: #D8F8FF;
  -webkit-box-shadow: 0 0 3vmin 1vmin rgba(0,0,0,0.31);
  -moz-box-shadow: 0 0 3vmin 1vmin rgba(0,0,0,0.31);
  box-shadow: 0 0 3vmin 1vmin rgba(0,0,0,0.31);
}

.text-create-account {
  text-align: center;
  width: 100%;
  color: black;
  font-size: 5vmin;
  padding-bottom: 2vmin;
  display: inline-block;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
}

.disable-button {
  opacity: 0.5;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60vmin;
}

.input-custom {
  padding: 1vmin;
  margin-bottom: 1vmin;
  border: #3D3D3D 0.3vmin solid;
  border-radius: 2vmin;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  font-size: 3vmin;
  margin-right: 1vmin;
  text-align: center;
  width: 100%;
}

.input-custom::placeholder {
  color: #b4b4b4;
}


.button-card {
  padding: 1vmin;
  margin: 1vmin;
  border: #FFFFFF 0 solid;
  border-radius: 2vmin;
  color: #FFFFFF;
  text-align: center;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  font-size: 3vmin;
  width: 100%;
}

.back-button-bg {
  background-color: #804b4c;
}

.create-button-bg {
  background-color: #65A800;
}


.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  margin-top: 2vmin;
}

.text-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkbox-container div {
  margin: 1vmin;
}

.checkbox-container label {
  flex: 1;
  text-align: center;
  background-color: #56A5B6;
  padding: 1vmin;
  border: #5D5D5D 0 solid;
  border-radius: 10vmin;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  font-size: 3vmin;
  color: #FFFFFF;
  opacity: 0.5;
}

.checkbox-container input{
  display: none;
}

.checkbox-container input:checked + label {
  opacity: 1;
  background-color: #3CABC2;
}


.checkbox-container input:checked + label:hover {
  opacity: 1;
  background-color: #308a9c;
}


.checkbox-container label {
  cursor: pointer;
  opacity: 0.5;
}


.checkbox-container input + label:hover {
  opacity: 0.7;
}


.disable-button {
  opacity: 0.5;
}

.assistance-text {
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  font-size: 3vmin;
  text-align: center;
  color: #5D5D5D;
}

.assistance-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2vmin;
}



.error-text{
  font-size: xx-large;
  color: #b00000;
  width: 100vmin;
  text-align: center;
  display: inline-block;
  font-family: var(--customFont), serif;
}

.checkbox {
  width: 100%;
}

.input-custom:hover{
  opacity: 0.8;
}

.back-button-bg:hover {
  background-color: #6e4042;
}

.create-button-bg:hover {
  background-color: #4f7c00;
}
