@import '../../../styles/card.scss';

.edit {
    margin-left: 0.3em;
}

#quizbtn {
  background-color: #3396FF !important;
  text-align: left;
  padding-left: 20px;
  border-bottom-left-radius : 20px !important;
  border-top-left-radius : 20px !important;
}
#themebtn{
  background-color: var(--customBlue) !important;
  border-bottom-right-radius : 20px !important;
  border-top-right-radius : 20px !important;
}

#quizbtn, #themebtn, #arrow-btn{
  font-weight: 900;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  font-size: 50pt;
}


