@import "../../../styles/variables";

.headerLine {
  display: inline-block;
  margin: 1rem;
  position: relative;
  border-radius: 2px;
  padding: 0 1em 1em 1em;
  width: 100%;
}

.container-quiz{
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}


.blackLine {
  margin-bottom: 40px;
}
