<!-- <app-quiz-creation></app-quiz-creation> -->
<div class="container-quiz">
  <div class="main-container">
    <h1 id="title">{{theme.name}}&nbsp;- Quiz</h1>
    <div class="main-container">
      <a class="button back-button" (click)="backPress()">Retour</a>
      <a class="button remove-filter-button" (click)="resetFilters()" *ngIf="isAnyFilterActive()">Supprimer les filtres</a>
      <a class="button filter-button" (click)="filterButtonClicked()" [ngClass]="isAnyFilterActive()? 'activated' : '' " >{{textFilter}}</a>
    </div>
  </div>

  <hr class="blackLine" [ngClass]="isFilterOpen? 'noBottomMargin' : ''">

  <!-- FILTER -->
  <div class="filter-container" *ngIf="isFilterOpen">
    <div>Difficulté</div>
    <div class="button-container">
      <a class="button difficulty-button-color" [ngClass]="isEasyActive? '' : 'disable'" (click)="easyButtonPressed()">Facile</a>
      <a class="button difficulty-button-color" [ngClass]="isMediumActive? '' : 'disable'" (click)="mediumButtonPressed()">Moyen</a>
      <a class="button difficulty-button-color" [ngClass]="isHardActive? '' : 'disable'" (click)="hardButtonPressed()">Difficile</a>
    </div>
  </div>

  <div class="quiz-list" *ngIf="quizListFiltered !== undefined">
    <div class="quiz" *ngFor="let quiz of quizListFiltered">
      <app-quiz-info [quiz]="quiz" [theme]="theme" (quizDeleted)="updateQuizDeleted($event)"></app-quiz-info>
    </div>
  </div>
  <div class="item-center-no-quiz" *ngIf="noQuizAvailableInDifficulty()">Aucun quiz n'est présent dans cette difficultée ...</div>
  <div class="item-center-no-quiz" *ngIf="noQuizAvailableAtAll()">Il n'y a aucun quiz dans ce thème ...</div>
</div>

