@import "../../../styles/variables";

.headerLine {
  display: inline-block;
  margin: 1rem;
  position: relative;
  border-radius: 2px;
  padding: 0 1em 1em 1em;
  width: 100%;
}

.container-quiz {
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.noBottomMargin {
  margin-bottom: 0 !important;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: var(--customWhite);
  background-color: #3CABC2;
  border: #3CABC2 solid 0;
  border-radius: 3vmin;

  margin: auto 2vmin auto auto;
  padding: 2vmin;
  font-family: var(--customFont);
  font-size: 3vmin;
  height: 8vmin;
}

.remove-filter-button {
  background-color: #8b3231;
  cursor: pointer;
}

.remove-filter-button:hover {
  background-color: #782726;
  color: var(--customWhite);
}


.filter-button {
  background-color: #707070;
  cursor: pointer;

}

.filter-button:hover {
  background-color: #646464;
  color: var(--customWhite);
}

.back-button {
  background-color: #003D65;
  cursor: pointer;

}

.back-button:hover {
  background-color: #005389;
  color: var(--customWhite);
}

.activated {
  background-color: #FFA200;
}

.activated:hover {
  background-color: #e39100;
  color: var(--customWhite);
}


.difficulty-button-color {
  background-color: var(--customWhite);
  color: #e39100;
  cursor: pointer;
  padding: 1vmin 2vmin 1vmin 2vmin;
}

.difficulty-button-color:hover {
  background-color: #ffffff;
  opacity: 0.8;
  color: #e39100;
}


.disable {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.34) !important;
  color: #ffffff !important;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #FFA200;
  border: 0 solid transparent;
  border-bottom-left-radius: 4vmin;
  border-bottom-right-radius: 4vmin;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter-container div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--customWhite);
  font-size: 0.8rem;
  padding: 2vmin;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
}

.item-center-no-quiz {
  padding-top: 20vmin;
  font-size: 0.6rem;
  text-align: center;
}
