<ng-container *ngIf="quizResult != null">
  <div class="main-container" [ngStyle]="{backgroundColor: bgColor}">
    <div >
      <div class="top-part-button-container"  (click)="isShow = !isShow">
        <div class="top-button left-part" [ngStyle]="{backgroundColor: themeColor}" *ngIf="!isShow">⏷</div>
        <div class="top-button left-part" [ngStyle]="{backgroundColor: themeColor}" *ngIf="isShow">⏶</div>
        <div class="top-button middle-part" [ngStyle]="{backgroundColor: themeColor}"> {{quizResult.name}} </div>
        <div class="top-button right-part"  [ngStyle]="{backgroundColor: lvlColor}"> {{quizResult.difficulty}} </div>
      </div>

      <div class="bottom-part-container" *ngIf="isShow">
        <div class="txtEssaies"  >Essaies : </div>

        <div class="historyList scrollbar scrollbar-primary">
          <ng-container *ngFor="let try of quizResult.quizTries; let i = index">
            <div class="item-result">
              <app-quiz-statistics-adminside [try]="try" (quizResultToDisplayDetails)="quizToDisplayEvent($event)"></app-quiz-statistics-adminside>
            </div>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</ng-container>
