<div class="container">
  <div class="row" id="quizInfo" (click)=toggleDisplay()>
    <div class="col-lg-8 col-md-8 col-xs-8 xol-sm-8">
      {{quizResult.name}}
    </div>
    <div id="quizDifficulty" class="col-lg-3 col-md-3 col-xs-3 xol-sm-3">
      {{quizResult.difficulty}}
    </div>
    <div id="arrow" class="col-lg-1 col-md-1 col-xs-1 xol-sm-1">
      ⏷
    </div>
  </div>


  <div *ngIf="isShow" class="row" id="quizHistory">
    <div class="col-lg-12 col-md-12 col-xs-12 xol-sm-12">
      <div id="txtEssaies">Essaies : </div>
      <div id="historyList">
          <ng-container *ngFor="let try of quizResult.quizTries; let i = index">
        <div class="item-result">
          <app-quiz-statistics-adminside [try]="try" (quizResultToDisplayDetails)="quizToDisplayEvent($event)"></app-quiz-statistics-adminside>
        </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>

<br>
