@import "../../../../styles/variables";

$primaryColorDark: #0099ff;
$primaryColor: #79e9ff;
$borderColor: #F2F2F2;
$cornerRadius: 25px;
.main-container {
  align-content: space-around;
  margin: 2vmin;
  border: 0 solid transparent;
  border-radius: 2vmin;
}

.top-part-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.top-part-button-container:hover {
  opacity: 0.8;
}

.top-button {
  padding-left: 2vmin;
  padding-right: 2vmin;
  color: var(--customWhite);
  font-family: "Segoe UI", sans-serif;
  font-weight: 900;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.left-part {
  border: 1vmin solid transparent;
  border-bottom-left-radius: 2vmin;
  border-top-left-radius: 2vmin;
  font-size: 6vmin !important;
  width: 10vmin;
}

.middle-part {
  font-size: 6vmin !important;
  border-right: 0.5vmin solid white !important;
  flex: 2;
}

.right-part {
  border: 0 solid transparent;
  border-bottom-right-radius: 2vmin;
  border-top-right-radius: 2vmin;
  font-size: 6vmin !important;
  flex: 1;
}




.bottom-part-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0 solid transparent;
}

.bottom-text {
  text-align: center;
  font-size: 0.8rem;
  font-family: "Segoe UI", sans-serif;
  font-weight: 900;
  color: #212529;
  padding: 2vmin 4vmin 2vmin 2vmin;
}



.bottom-part-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-button {
  border: 0 solid transparent;
  border-radius: 1vmin;
  font-family: "Segoe UI", sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  padding: 1vmin;
  margin: 2vmin;
  color: var(--customWhite);
}

.play-quiz-button:hover, .quit-quiz-button:hover {
  opacity: 0.8;
}

.play-quiz-button {
  flex: 2;
}

.quit-quiz-button {
  flex: 1;
  background-color: var(--customDarkRed);
}

