@import '../../../styles/card.scss';

.greencard{
  margin: auto;
  padding-bottom: 30pt;
  //float: none;
  position: center;
  border-radius: 25px;
  background-color: var(--customGreen);
  text-align : center;
  color: var(--customWhite);
  font-family: "Segoe UI", sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
}

.input-custom, .form-control, .btn-lg{
  border-radius: 25px;
}

.btn-gris, .btn-blanc{
  text-align : center;
  font-family: "Segoe UI", sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
}

.btn-gris{
  background-color: var(--customGray);
  color: var(--customWhite);
}

.btn-blanc{
  color: var(--customGreen);
  background-color: var(--customWhite);
}

a{
  font-size: 0.4rem;
  font-style: italic;
  text-decoration: none;
  color: var(--customWhite);
  font-family: "Segoe UI", sans-serif;
}

.card-header{
  margin: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: var(--customDarkGreen);
  font-size: 0.8rem;
}
