@import '../../../styles/card.scss';

h1 {
  font-size: 6vmin !important;
  margin-top: 0vmin !important;
  margin-bottom: 0vmin !important;
  margin-block-end: 3vmin !important;
  margin-block-start: 3vmin !important;
  line-height: 6vmin;
}

.global-container {
  width: 100%;
}

.background {
  position: absolute;
  background-color: #000000;
  opacity: 0.5;

  left: 10vw;
  top: 0;

  width: 90vw;
  height: 100%;

  filter:blur(20vmin);
}

.disable-button {
  opacity: 0.5;
}


.hover-button:hover {
  opacity: 0.9;
}

.disable-button {
  opacity: 0.5;
  cursor: auto !important;
}

.delete-quiz-bg {
  background-color: #8D0000 !important;
  margin-right: 3vmin;
}

.reset-bg {
  color: var(--customDarkRed);
}

.create-bg {
  color: #456C00;
}

.create-bg-selected {
  background-color: #2b4300 !important;
}

.blur{
  filter: blur(1vmin);
}

.button-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-header {
  text-align: center !important;
  //flex: 1 0 49%;

  color: white;
  background-color: white;
  border: transparent solid 0;
  border-radius: 3vmin;

  padding: 1vmin 2vmin;
  font-family: "Segoe UI";
  font-weight: 900;
  font-size: 3vmin;

  cursor: pointer;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.bg-general {
  background-color: var(--customGreen);
  margin-right: 3vmin;
}


.bg-question {
  background-color: var(--customBlue);
}

.question-bg-selected {
  background-color: #205591;

}

app-general-creation {

}

.bottom-validation-container {
  position: absolute;
  bottom: 0;
  left: 10vw;
  right: 0;
  width: 90%;
  height: 10vmin;
  background-color: rgba(242, 242, 242, 0.7);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
