<div class="global-container" [ngClass]="isWindowOpen? 'blur' : ''">
  <div class="header-container">
    <h1 *ngIf="!updateMode">Création d'un quiz</h1>
    <h1 *ngIf="updateMode">Edition d'un quiz</h1>
    <div class="button-header-container">
      <div class="button-header bg-general" [ngClass]="isGeneralOpen? 'create-bg-selected' : ''" (click)="openGeneral()">Général</div>
      <div class="button-header bg-question" [ngClass]="isQuestionListOpen? 'question-bg-selected' : (isQuestionWindowAllowed()? '' : 'disable-button')" (click)="openQuestion()">Questions</div>
    </div>
  </div>

  <hr class="blackLine">
</div>

  <app-general-creation *ngIf="isGeneralOpen && !updateMode" (isCreateThemeOpened)="isWindowOpen = $event" (quizEmitter)="receiveQuiz($event)" [quiz]="quizToCreate"></app-general-creation>
  <app-question-list *ngIf="isQuestionListOpen && !updateMode" [quiz]="emptyQuiz" (isCreateQuestionOpen)="isCreateQuestionOpen=$event"></app-question-list>

  <app-general-creation *ngIf="isGeneralOpen && updateModeValueReceived" (isCreateThemeOpened)="isWindowOpen = $event" (quizEmitter)="receiveQuiz($event)" [quiz]="quizToCreate"></app-general-creation>
  <app-question-list *ngIf="isQuestionListOpen && updateModeValueReceived" [quiz]="quizToCreate" (isCreateQuestionOpen)="isCreateQuestionOpen=$event" ></app-question-list>


<div class="bottom-validation-container" *ngIf="isBottomContainerOpenEditMode() && true">
  <div class="button-header delete-quiz-bg" (click)="deleteQuiz()" >Supprimer le quiz</div>
  <button class="button-header bg-general"
       [disabled]="nbQuestions() < 2"
       [class.disable-button]="nbQuestions() < 2"
       [ngClass]="nbQuestions() < 2 ? 'button-header' : ''"
       (click)="updateQuiz()">Mettre à jour le quiz</button>
</div>

<div class="bottom-validation-container" *ngIf="isBottomContainerOpenCreateMode() && true">
  <button class="button-header bg-general"
       [disabled]="quizToCreate.questions.length < 2"
       [class.disable-button]="quizToCreate.questions.length < 2"
       [ngClass]="quizToCreate.questions.length < 2 ? 'button-header' : ''"
       (click)="createQuiz()" >Créer le quiz</button>
</div>
