@import '../../../styles/card.scss';

a{
  font-size: 0.6rem;
  font-style: italic;
  text-decoration: none;
  color: #3396FF;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
}

p{
  position: center;
  margin: 0;
}

.mybtn{
  background-color: dimvar(--customGray);
  padding: 30px;
  font-size: 0.6rem;
  color: var(--customWhite);
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  border-radius: 25px;
  margin:auto;
  position: absolute;
  bottom: 30px;
  left: 50%;

}
