<div class="create-account-container user-container ">

  <div class="table-custom">

    <div class="text-create-account">{{user.firstName}} {{user.lastName.toUpperCase()}}</div>
    <hr class="blackLine">

    <div class="assistance-container">
      <div class="assistance-text">Assistance :<br>(modifiable)</div>
      <div class="checkbox-container">
        <div class="checkbox" *ngFor="let assistance of assistanceArray">
          <input type="checkbox" name="assistance" value="{{assistance.value}}" id="{{assistance.value}}"
                 [checked]="assistance.checked" (change)="changeState(assistance.id)"/>
          <label for="{{assistance.value}}">{{assistance.name}}</label>
        </div>
      </div>
    </div>


    <hr class="blackLine">

    <button (click)="shareButtonPressed()" class="link-card share-button-bg">Partager les
      paramètres du compte
    </button>
    <button (click)="statsButtonPressed()" class="link-card stats-button-bg">
      Statistiques
    </button>
    <button (click)="deleteButtonPressed()" class="link-card delete-button-bg"> <div >Supprimer le compte</div> </button>

    <hr class="blackLine margin-top">

    <div class="button-container">
      <button (click)="backPressed()" class="button-card back-button-bg">Retour</button>
      <button (click)="saveButtonPressed()" class="button-card create-button-bg" [disabled]="!hasChangeBeenDone()" [class.disable-button]="!hasChangeBeenDone()" >Enregistrer</button>
    </div>

  </div>
</div>
