.main-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding-bottom: 3vmin;
}

.dataDisplay {
  border-radius: 3vmin;
  padding: 1vmin;
  color: var(--customWhite);
  font-weight: 500;
  font-size: 0.6rem;
  text-align: center;
  margin: 1vmin;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 1 0 26%;
  width: 100%;
  display: flex;
}

#quizName {
  background-color: var(--customOrange);
}

#difficulty {
  background-color: var(--customGreen);
}

#score {
  background-color: var(--customDarkBlue);
}

#date {
  background-color: var(--customBlue);
}

#totalTime {
  background-color: var(--customPlayPink);
}

.container {
  max-width: 100%;
}
