.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reset-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: white;
  background-color: #8d0000;
  border: #8d0000 solid 0 ;
  border-radius: 3vmin;


  margin: 2vmin;
  padding: 2vmin;
  font-family: "Segoe UI Black", sans-serif;
  font-size: 0.6rem;
}

.reset-button:hover{
  color: white;
  background-color: #b40000;
}

.top-margin {
  margin-top: 3vmin;
}
