
<div class="title-container">
  <h1>Paramètres vision</h1>
  <a type="submit" class="reset-button" (click)=resetSettingsToDefault()>Réinitialiser</a>
</div>
<hr class="blackLine">

<app-vision-settings *ngIf="userSettings !== undefined"
                     [contrast]="userSettings.contraste"
                     [font]="userSettings.font"
                     [fontSize]="userSettings.fontSize"
                     (contrastSelected)="contrastEvent($event)"
                     (fontSizeSelected)="fontSizeEvent($event)">
</app-vision-settings>

<h1>Paramètres moteur</h1>
<hr class="blackLine">

<app-moteur-settings *ngIf="userSettings !== undefined"
  [tailleSelection]="userSettings.tailleSelection"
  (tailleSelectionSelected)="selectionSizeEvent($event)">
</app-moteur-settings>
