.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reset-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: var(--customWhite);
  background-color: var(--customDarkRed);
  border: var(--customDarkRed) solid 0 ;
  border-radius: 3vmin;


  margin: 2vmin;
  padding: 2vmin;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  font-size: 0.6rem;
}

.reset-button:hover{
  color: var(--customWhite);
  background-color: #b40000;
}

.top-margin {
  margin-top: 3vmin;
}
