<!-- MENU (ADMIN FORM ACCESS BUTTON) -->

<!--<button type="submit" class="button-card" (click)="displayAdminForm()">Administration</button>-->

<!-- USER FORM -->

<div>
  <h2>Connexion</h2>
  <form class="user-form" [formGroup]="userForm" ngNativeValidate>
    <input class="input-custom" placeholder="Votre identifiant" type="text" id="userIdentifiant"
           [formControlName]="'userIdentifiant'" required>
    <br>
    <br>
    <button type="submit" class="button-card" (click)="connexion()">Se connecter</button>
  </form>
</div>
