<div class="container-bg">
  <h2>Vision</h2>
  <div class="global-container">
    <div class="main-container">

      <div class="settingName container-radio"> Contraste</div>

      <div class="middleChoose container-radio" (click)="contrastSelectedEmit(1)">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="moyenne_tailleSelction"
               [checked]="contrast === 1">
        <label class="form-check-label" for="gridRadios1"> Faible </label>
      </div>

      <div class="lastChoose container-radio" (click)="contrastSelectedEmit(2)">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="grande_tailleSelction"
               [checked]="contrast === 2">
        <label class="form-check-label" for="gridRadios2"> Elevé </label>
      </div>

    </div>

    <div class="main-container">
      <div class="settingName container-radio"> Taille Police</div>

      <div class="middleChoose container-radio" (click)="fontSizeSelectedEmit(1)">
        <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios3" value="moyenne_tailleSelction"
               [checked]="fontSize === 1">
        <label class="form-check-label" for="gridRadios3"> Moyenne </label>
      </div>

      <div class="lastChoose container-radio" (click)="fontSizeSelectedEmit(2)">
        <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios4" value="grande_tailleSelction"
               [checked]="fontSize === 2">
        <label class="form-check-label" for="gridRadios4"> Grande </label>
      </div>
    </div>
    <form class="quiz-form" [formGroup]="fontForm" (click)="fontSelectedEmit()">
    <div class="main-container">
      <div class="settingName" style="flex: 1"> Police</div>
      <select class="lastChoose" id="fontName" [formControlName]="'fontName'" >
        <option value="Arial">Arial</option>
        <option value="Segoe UI">Segoe UI</option>
        <option value="Times New Roman">Times New Roman</option>
      </select>
    </div>
    </form>
  </div>
</div>
