.theme-container {
  padding: 5vmin 8vmin 5vmin 8vmin ;
  background-color: blueviolet;
  border: 0 solid black;
  border-radius: 3vmin;
  margin: 2vmin;
  cursor: pointer;
}

.theme-text {
  font-size: 5vmin;
  color: white;
  font-family: "Segoe UI Black", sans-serif;
}
