.theme-container {
  padding: 1vmin 2vmin 1vmin 2vmin ;
  background-color: var(--customPurple);
  border: 0 solid black;
  border-radius: 3vmin;
  margin: 2vmin;
  cursor: pointer;
  height: 3rem;
}

.theme-container:hover {
  opacity: 0.9;
   -webkit-box-shadow: 0 0 3vmin -0.05vmin rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 3vmin -0.05vmin rgba(0,0,0,0.5);
  box-shadow: 0 0 3vmin -0.05vmin rgba(0,0,0,0.5);
}

.theme-text {
  font-size: 1.2rem;
  color: var(--customWhite);
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-family: "Segoe UI Black", sans-serif;
}
