
/**
 COLOR VARIABLE
 */

$goodResponseBackgroundColorStrong: #3BDF75;
$goodResponseBackgroundColorLite: #a2ffb3;

$badResponseBackgroundColorStrong: #FF928C;
$badResponseBackgroundColorLite: #FFB5B1;

/**
 ELEMENTS
 */

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-container div {
  width: 100%;
}


#questionNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  flex: 1;
  font-size: 0.6rem;
}

#questionAndResponse {
  flex: 7;
  font-size: 0.6rem;
}

#questionScore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  flex: 1;
  font-size: 0.6rem;
}

.itemData{
  color: #000000;
  text-align: center;
}


#question {
  font-weight: 600;
  padding-top: 1vmin;
}

.reponses-container {
  padding: 1vmin;
}


.correctResponse {
  color: var(--customDarkGreen);
  font-weight: 500;
}

#incorrectResponse {
  color: maroon;
  font-weight: 500;
}

.container {
  max-width: 100%;
}



.numero-color {
  background-color: var(--customSemiLiteOrange);
}

.numero-color-faded {
  background-color: var(--customLiteOrange);
}




.question-reponses-color {
  background-color: var(--customResultGreen);
}

.question-reponses-color-faded {
  background-color: var(--customResultGreenFaded);
}




.score-color {
  background-color: var(--customResultBlue);
}

.score-color-faded {
  background-color: var(--customResultBlueFaded);
}

