<div class="container-bg">
  <h2>Moteur</h2>
  <div class="main-container">

    <div class="settingName container-radio"> Taille de selection</div>

    <div class="middleChoose container-radio" (click)="tailleSelectionSelectedEmit(1)">
      <input class="form-check-input" type="radio" name="gridRadios3" id="gridRadios5" value="moyenne_tailleSelction"
             [checked]="tailleSelection === 1">
      <label class="form-check-label" for="gridRadios5"> Moyenne </label>
    </div>

    <div class="lastChoose container-radio" (click)="tailleSelectionSelectedEmit(2)">
      <input class="form-check-input" type="radio" name="gridRadios3" id="gridRadios6" value="grande_tailleSelction"
             [checked]="tailleSelection === 2">
      <label class="form-check-label" for="gridRadios6"> Grande </label>
    </div>

  </div>
</div>
