<div class="main-container">
  <div class="table">
    <div class="title-container">Créer un thème</div>
    <div class="input-container">

      <form class="quiz-creation" [formGroup]="themeForm">

        <div class="input-text-container">
          <label for="name" class="text-for-input">Nom du thème</label>
          <input class="text-input" type="text" id="name" [formControlName]="'name'">
        </div>

        <div class="color-container" *ngIf="colors !== undefined">
          <div class="text-for-input">Couleur du thème</div>
          <select [(ngModel)]="selectedColor" [(style.backgroundColor)]="selectedColor" class="text-for-input"
                  id="color" [formControlName]="'color'" [disabled]="isLoading" [class.disable-button]="isLoading">
            <option *ngFor="let c of colors" [ngValue]="c" [style.backgroundColor]="c"></option>
          </select>
        </div>

        <div class="button-container">
          <button type="submit" class="button back-bg hover-button" id="cancel" (click)="backPressed()">Retour</button>
          <button type="submit" class="button create-bg" id="create" (click)="addTheme()" [disabled]="themeForm.invalid"
                  [class.disable-button]="themeForm.invalid || isLoading"
                  [ngClass]="!themeForm.invalid && !isLoading? 'hover-button' : ''">Créer
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
