@import '../../../styles/card.scss';

.main-container {
  position: absolute;
  top: 58%;
  bottom: 42%;
  left: 55vw;
  right: 45vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greencard{
  margin: auto;
  padding-bottom: 30pt;
  position: center;
  border-radius: 25px;
  background-color: green;
  text-align : center;
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-size: 3vmin;
  font-weight: bold;
}

.input-custom, .form-control, .btn-lg{
  border-radius: 25px;
}

.btn-gris, .btn-blanc{
  text-align : center;
  font-family: "Segoe UI", sans-serif;
  font-size: 3vmin;
  font-weight: bold;
}

.btn-gris{
  background-color: #3D3D3D;
  color: white;
}

.btn-blanc{
  color: green;
  background-color: white;
}

a{
  font-size: 2vmin;
  font-style: italic;
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.card-header{
  margin: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: darkgreen;
  font-size: 4vmin;
}
