.question {
  color: var(--customGray);
  font-size: 8vmin;
  font-weight: 900;
  font-family: var(--customFont), serif;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 25vh;
  left: 0;
  right: 0;
  line-height: 7vmin;
  top: var(--customHeaderHeight);
}

.questionnumber {
  font-size: 5vmin;
  font-weight: 900;
  font-family: var(--customFont), serif;
  text-align: center;
  justify-content: center;
  display: flex;
  color: #2A2A2A;
  position: absolute;
  width: 100vw;
  height: 25vh;
  left: 0;
  right: 0;
  line-height: 7vmin;
  top: 0;
}

.answers{
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
  height: 70vh;
}

.big-button {
  font-size: 8vmin !important;
}
