.question {
  color: var(--customGray);
  font-size: 1.6rem;
  font-weight: 900;
  font-family: "Segoe UI Black", serif;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 25vh;
  left: 0;
  right: 0;
  top: 5vh;
}

.answers{

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70vh;
}
