.button-stats {
  justify-content: center;
  text-align: center;

  color: var(--customWhite);
  background-color: var(--customRed);
  border: var(--customRed) solid 0 ;
  border-radius: 3vmin;

  margin: auto 2vmin auto auto;
  padding: 2vmin;
  font-family: var(--customFont);
  font-size: 3vmin;
  height: 10vmin;
}

.button-stats:hover{
  color: var(--customWhite);
  background-color: #ed5855;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
