.button-stats {
  justify-content: center;
  text-align: center;

  color: white;
  background-color: #cd0500;
  border: #cd0500 solid 0 ;
  border-radius: 3vmin;

  margin: 2vmin;
  padding: 2vmin;
  font-family: "Segoe UI Black";
  font-size: 0.6rem;
}

.button-stats:hover{
  color: white;
  background-color: #ed5855;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
