.help-container {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 15vw;

  width: 80%;
  height: 80vmin;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 997;
}

.background {
  position: absolute;
  background-color: #000000;
  opacity: 0.5;

  left: 10vw;
  top: 0;

  width: 90vw;
  height: 100%;

  filter:blur(200px);
}
