.help-container {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 15vw;

  width: 80%;
  height: 80vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 997;
}

.background {
  position: absolute;
  background-color: #000000;
  opacity: 0.5;

  left: 10vw;
  top: 0;

  width: 90vw;
  height: 100%;

  filter:blur(20vmin);
}

.video {

  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.title {
  background-color: black;
  color: white;

  font-size: 4vmin;
  font-family: "Segoe UI Black", sans-serif;

  border: 0 solid transparent;
  border-top-left-radius: 3vmin;
  border-top-right-radius: 3vmin;
  width: 100%;
  padding: 2vmin;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0 solid transparent;
  border-bottom-left-radius: 3vmin;
  border-bottom-right-radius: 3vmin;
  width: 100%;
}

.button {
  padding: 1vmin;
  border: 0 solid transparent;
  color: white;
  text-align: center;
  font-family: "Segoe UI Black", sans-serif;
  font-size: 3vmin;
  width: 100%;
  cursor: pointer;
}

.back-button {
  border-bottom-left-radius: 3vmin;
  border-bottom-right-radius: 3vmin;
  background-color: #48804b;
}

.back-button:hover {
  background-color: #326335;
  color: white;
}


.replay-button {
  border-bottom-right-radius: 3vmin;
  background-color: #0065a8;
}

.replay-button:hover {
  color: white;
  background-color: #00578f;
}
