@import "../../../styles/variables";


.center-inside{
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.text {
  font-size: large;
  text-decoration: none;
  color: white;
}

a:link{
  text-decoration: none;
}

.div-inside {
  padding: 5px;
  text-align: center;
}
