@import "../../../styles/variables";


.center-inside{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-img {
  width: 7vw;
  height: 10vh;
}

.text {
  text-decoration: none;
  color: var(--customWhite);
  font-size: 1.5vw;
}

a:link{
  text-decoration: none;
}

.div-inside {
  width: 10vw;
  padding: 1vmin;
  text-align: center;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  //mask: url("#mask-arrow");
  background-color: #f2f2f2;
  //mask: url("../../../assets/images/arrow.svg");
  //mask-mode: alpha;
}

.arrow-img{
  width: 2vmin;
  height: 8vmin;
}

.not-displayed{
  fill: #f2f2f2;
  background-color: #f2f2f2;
}
