
$buttonColor: #d650ec;

.button-card {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.button-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: #FFFFFF;
  background-color: #3CABC2;
  border: #3CABC2 solid 0 ;
  border-radius: 3vmin;

  opacity: 0.5;

  margin: auto 2vmin auto auto;
  padding: 2vmin;
  font-family: var(--customFont);
  font-size: 3vmin;
  height: 10vmin;
}

.button-stats:hover{
  color: #FFFFFF;
  background-color: #47c5dc;
}

.selected{
  background-color: #358c9f;
  opacity: 1;
}

.selected:hover{
  background-color: #2b6273 !important;
}

.button-card:hover {
   background-color: #f2f2f2;
   border: 2px solid $buttonColor;
   color: $buttonColor;
 }

#text{
  font-size: 3vmin;
  font-family: var(--customFont);
  text-align: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-container div {
  display: flex;
}

app-quiz-statistics {
  padding-bottom: 3vmin;
}
