<div class="title-container">
  <h1>Statistiques</h1>

  <div>
    <a type="submit" class="button-stats" [ngClass]="(displayPerQuizComponent)? 'selected' : ''" (click)=displayPerQuiz()>Par quiz</a>
    <a type="submit" class="button-stats" [ngClass]="(displayGlobalComponent)?  'selected' : ''"  (click)=displayGlobal()>Global</a>
  </div>
</div>

<hr class="blackLine">

<div *ngIf="displayPerQuizComponent">
  <ng-container *ngFor="let quizResult of userStatistics.quizzesResultIds; let i = index">
    <app-quiz-statistics [quizResult]="quizResult"
                         (quizResultToDisplayDetails)="displayQuizDetails($event)"></app-quiz-statistics>
  </ng-container>
  <div *ngIf="userStatistics.quizzesResultIds.length == 0">
    <div id="text">Le résident a fini aucun quiz pour le moment</div>
  </div>
</div>

  <app-global-statistics *ngIf="displayGlobalComponent"
    [totalQuizMade]="userStatistics.totalQuizMade"
    [weekQuizMade]="userStatistics.weekQuizMade"
    [successPercentage]="userStatistics.successPercentage"
    [perfectQuizMade]="userStatistics.perfectQuiz">
  </app-global-statistics>

<div *ngIf="quizResult != undefined && displayQuizDetailsComponent">
  <app-quiz-header [maxScore]="quizResult.maxScore"
                   [userScore]="quizResult.userScore"
                   [quizId]="quizResult.quizId"
                   [date]="quizResult.date"
                   [playTime]="quizResult.playTime">
  </app-quiz-header>

  <app-quiz-result-list [answers]="quizResult.answers"
                        [quizId]="quizResult.quizId">

  </app-quiz-result-list>
</div>
