
$buttonColor: #d650ec;

.button-card {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.button-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  color: white;
  background-color: #3CABC2;
  border: #3CABC2 solid 0px ;
  border-radius: 40px;

  opacity: 0.5;

  margin: 20px;
  padding: 20px;
  font-family: "Segoe UI Black";
  font-size: xx-large;
}

.button-stats:hover{
  color: white;
  background-color: #47c5dc;
}

.selected{
  background-color: #358c9f;
  opacity: 1;
}

.selected:hover{
  background-color: #2b6273 !important;
}

.button-card:hover {
   background-color: #f2f2f2;
   border: 2px solid $buttonColor;
   color: $buttonColor;
 }

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-container div {
  display: flex;
}
