@import "../../styles/variables";


.menu{
  width: 200px;
  background-color: #3f51b5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 0px;
}

.quiz{
  background-color: orange;
}


.stats{
  background-color: darkred;
}


.param{
  background-color: darkblue;
}
