@import "../../styles/variables";


.menu{

  //background-color: #3D3D3D;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

//.quiz{
//  background-color: orange;
//}
//
//
//.stats{
//  fill: darkred;
//  //background-color: darkred;
//}
//
//
//.param{
//  background-color: darkblue;
//}
//
//
//.creation{
//  background-color: green;
//}
//
//
//.residents{
//  background-color: deepskyblue;
//}

app-menu-button{
  flex: 1;
}
