@import "../../styles/variables";

app-menu-button {
  cursor: pointer;
}

.menu{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #5D5D5D;
}

app-menu-button{
  flex: 1;
}
