<div class="menu" >
  <app-menu-button class="quiz" name="Quiz" imageName="question_mark.svg" routerPath="quiz-list" bgColor="orange" ></app-menu-button>
  <app-menu-button class="stats" name="Stats" imageName="stats.svg" routerPath="stats" bgColor="darkred"></app-menu-button>
  <app-menu-button class="creation" name="Création" imageName="pen.svg" routerPath="quiz-creation" bgColor="green"></app-menu-button>
  <app-menu-button class="residents" name="Résidents" imageName="user.svg" routerPath="residents" bgColor="deepskyblue"></app-menu-button>
  <app-menu-button class="param" name="Paramètres" imageName="settings.svg" routerPath="parameters" bgColor="darkblue"></app-menu-button>
</div>
