<h1>Statistiques</h1>
<hr class="blackLine">

  <div class="main-container">
    <div class="totalQuiz row-container">
      <div class="left-part"> Quiz faits au total </div>
      <div class="right-part totalQuizValue">
        <div *ngIf="userStatistics == undefined;else definedTotalQuiz"> - </div>
        <ng-template #definedTotalQuiz> {{userStatistics.totalQuizMade}} </ng-template>
      </div>
    </div>

    <div class="weekQuiz row-container">
      <div class="left-part"> Faits cette semaine </div>
      <div class="right-part weekQuizValue">
        <div *ngIf="userStatistics == undefined;else definedQuizValue"> - </div>
        <ng-template #definedQuizValue> {{userStatistics.weekQuizMade}} </ng-template>
      </div>
    </div>

    <div class="successPercentage row-container">
      <div class="left-part itemTitle"> Taux de réussite </div>
      <div class="right-part successPercentageValue">
        <div *ngIf="userStatistics == undefined;else definedSuccessPercentage"> - </div>
        <ng-template #definedSuccessPercentage> {{userStatistics.successPercentage| number:'1.0-0'}} % </ng-template>
      </div>
    </div>
  </div>

