
$primaryColorDark: var(--customDarkPink);
$primaryColorDarkFaded: var(--customDarkPinkFaded);
$primaryColor: var(--customPink);
$primaryColorFaded: var(--customPinkFaded);
$borderColor: grey;
$cornerRadius: 3vmin;
$borderSize: 0;

.main-container  {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
}

.left-part {
  flex: 4;
  text-align: left;
  padding: 2vmin 2vmin 2vmin 4vmin;
  border-right: solid $borderSize $borderColor;
}

.right-part {
  flex: 1;
  padding: 2vmin;
}


.totalQuiz {
  background-color: $primaryColorDark;
  border-top-left-radius: $cornerRadius;
  border-top-right-radius: $cornerRadius;
}

.totalQuizValue {
  text-align: center;
  border-top-right-radius: $cornerRadius;
  background-color: $primaryColorDarkFaded;
}

.weekQuiz {
  background-color: $primaryColor;
}

.weekQuizValue {
  text-align: center;
  background-color: $primaryColorFaded;
}

.successPercentage {
  border-bottom-left-radius: $cornerRadius;
  border-bottom-right-radius: $cornerRadius;
  background-color: $primaryColorDark;
}

.successPercentageValue {
  text-align: center;
  border-bottom-right-radius: $cornerRadius;
  border-left: solid $borderSize $borderColor;
  background-color: $primaryColorDarkFaded;
}
