@import './styles/variables.scss';
@import "../node_modules/bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
html {
  font: 500   20px/32px Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: $app-background-color;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// PAGE TITLE CSS :
h1{
  font-weight: 900;
  font-family: "Segoe UI Black", sans-serif;
  font-size: 10vmin;
  line-height: 10vmin;
  margin-bottom: 3vmin !important;
  margin-top: 0 !important;
}

hr.blackLine {
  margin-top: 0;
  border-top: 0.3vmin solid grey;
  margin-bottom: 3vmin !important
}
