@import './styles/variables.scss';
@import "../node_modules/bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
html {  //:root is html (or xml in xml file, svg in svg file ...)
  font: 500   20px/32px Roboto, "Helvetica Neue", sans-serif;


  --customWhite: white;
  --customGray: #3d3d3d;
  --customDarkGray: #2a2a2a;
  --customRed: #de5252;
  --customDarkRed: #8d0000;
  --customGreen: #65a800;
  --customDarkGreen: #0c6600;
  --customDarkBlue: #0058ca;
  --customExtraDarkBlue: #2B7FD8;
  --customBlue: #2B7FD8;
  --customLiteBlue: rgba(48, 152, 249, 0.14);
  --customOrange: #dca409;
  --customLiteOrange: rgba(255, 213, 52, 0.76);
  --customPurple: blueviolet;

  font-size: 1rem;  //Default
}

body {
  margin: 0;
  background-color: $app-background-color;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// PAGE TITLE CSS :
h1{
   font-weight: 900;
   font-family: "Segoe UI Black", sans-serif;
   font-size: 2rem;
   line-height: 2rem;
   margin-bottom: 3vmin !important;
   margin-top: 0 !important;
 }

h2{
  font-weight: 900;
  font-family: "Segoe UI Black", sans-serif;
  font-size: 0.8rem;
  line-height: 8vmin;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr.blackLine {
  margin-top: 0;
  border-top: 0.3vmin solid grey;
  margin-bottom: 3vmin !important
}
