@import './styles/variables.scss';
@import "../node_modules/bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
html {  //:root is html (or xml in xml file, svg in svg file ...)
  font: 500   20px/32px Roboto, "Helvetica Neue", sans-serif;

  --customFont: "Segoe UI";

  --customWhite: white;
  --customGray: #3d3d3d;
  --customDarkGray: #2a2a2a;
  --customRed: #de5252;
  --customDarkRed: #8d0000;
  --customGreen: #65a800;

  --customResultGreen: #b6fac4;
  --customResultGreenFaded: #c7f9cc;
  --customResultBlue: #B9D1FF;
  --customResultBlueFaded: #c9daf8;

  --customDarkGreen: #0c6600;
  --customDarkBlue: #0058ca;
  --customExtraDarkBlue: #2B7FD8; //for settings
  --customBlue: #2B7FD8;
  --customLiteBlue: rgba(48, 152, 249, 0.14);
  --customResidentItemBlue: #d8f8ff;
  --customOrange: #dca409;
  --customSemiLiteOrange: #fac536;
  --customLiteOrange: rgba(255, 213, 52, 0.76);
  --customPurple: blueviolet;
  --customPlayPink: #B60092;

  --customDarkPink: #f2b0b0;
  --customDarkPinkFaded: #f7cece;
  --customPink: #f7c9c9;
  --customPinkFaded: #fadede;

  font-size: 1rem;  //Default
}

body {
  margin: 0;
  background-color: $app-background-color;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// PAGE TITLE CSS :
h1{
   font-weight: 900;
   font-family: var(--customFont), sans-serif;
  font-weight: 900;
   font-size: 1.5rem;
   line-height: 1.5rem;
   margin-top: 0.6rem !important;
   margin-bottom: 0.6rem !important;
 }

h2{
  font-weight: 900;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 8vmin;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr.blackLine {
  margin-top: 0;
  border-top: 0.3vmin solid grey;
  margin-bottom: 3vmin !important
}
