<app-header></app-header>
<div class="main-content">
    <router-outlet></router-outlet>
  <div class="row">
    <div class="col-md-4 col-lg-4 col-xs-12 xol-sm-12 item-down">
      <h5>Multilingue.</h5>
      <ul>
        <li>Français</li>
        <li>Anglais</li>
        <li>Bahasa Malay</li>
        <li>Espagnol</li>
        <li>Mandarin</li>
        <li>Arabe</li>
      </ul>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-12 xol-sm-12 item-down">
      <h5>Fonctionalites.</h5>
      <ul>
        <li>Emploi du temps</li>
        <li>Forum étudiant</li>
        <li>Groupes de discussion</li>
        <li>Note Taker</li>
        <li>To do list</li>
      </ul>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-12 xol-sm-12 item-down">
      <h5>Caractéristiques.</h5>
      <ul>
        <li>Android</li>
        <li>API 19, Kitkat ou supérieur</li>
        <li>7 Mégaoctet</li>
        <li>Identification Unice</li>
        <li>Ergonomique</li>
      </ul>
    </div>
  </div>
</div>
