@import "../styles/variables";
@import "../styles/variables";

.main-content {
  padding: 0 1vmin 0 1vmin;
  width: 100%;
  //height: 100%;
  z-index: 10;
  overflow-y: scroll;
  height: calc(100vh - var(--customHeaderHeight));
  -ms-overflow-style: none;
}

.main-content::-webkit-scrollbar{
  display: none;
}

.main-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
}

app-header {
  z-index: 999;
  height: var(--customHeaderHeight);
}

router-outlet {
  width: 100%;
  height: 100%;
}

app-menu{
  top: var(--customHeaderHeight);
}

.info-text-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.info-text {
  position: absolute;
  left: calc(var(--customMenuWidth) * 1.5);
  width: calc(100% - 2 * var(--customMenuWidth));
  top: var(--customHeaderHeight);


  font-size: 0.8rem;
  padding: 2vmin;
  font-family: var(--customFont), serif;
  color: var(--customWhite);
  text-align: center;
  background-color: var(--customGreen);

  border: 0 solid var(--customWhite);
  border-bottom-left-radius: 2vmin;
  border-bottom-right-radius: 2vmin;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  z-index: 998;
}

app-help {
  z-index: 997;
}

.blur {
  filter: blur(1vmin);
}
