.main-content {
  padding: 0 1em 0 1em;
  width: 100%;
  height: 100%;
}

.main-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  z-index: 999;
}

router-outlet {
  width: 100%;
  height: 100%;
}
