@import "../styles/variables";

.main-content {
  padding: 0 1vmin 0 1vmin;
  width: 100%;
  //height: 100%;
  z-index: 10;
  overflow-y: scroll;
  height: 92.1vh;
}

.main-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
}

app-header {
  z-index: 999;
}

router-outlet {
  width: 100%;
  height: 100%;
}

.bottom-shadow {
  position: absolute;
  height: 0vmin;
  top: 100%;
  bottom: 0;
  width: 86%;
  left: 12%;
  right: 2%;

  z-index: 100;
  -webkit-box-shadow: 0 0 1vmin 1vmin $app-background-color;
  -moz-box-shadow: 0 0 1vmin 1vmin $app-background-color;
  box-shadow: 0 0 1vmin 1vmin $app-background-color;
}

.info-text-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.info-text {
  font-size: 4vmin;
  color: white;
  width: 100vmin;
  text-align: center;
  position: absolute;
  left: 60vmin;
  right: 40vmin;
  top: 7vmin;
  background-color: #6ba800;
  border: 0 solid white;
  border-bottom-left-radius: 2vmin;
  border-bottom-right-radius: 2vmin;
  font-family: "Segoe UI Black", serif;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  z-index: 998;
}

app-help {
  z-index: 997;
}

.blur {
  filter: blur(1vmin);
}
