<!--<div class="main" [style]="{'background-color': this.colorBackground}">-->
<div class="main">

  <ng-container *ngIf="settingsService.settings !== undefined && settingsService.settings !== null">
    {{applyCssFromSettings()}}
  </ng-container>

  <app-header></app-header>

  <!-- TOASTER -->
  <div [ngClass]="(message !== '')? 'info-text-visible' : ''" class="info-text" [style.background-color]="(isErrorMessage)? 'red' : 'green'">{{message}}</div>

  <!-- HELP -->
  <app-help *ngIf="isHelpActive"> </app-help>

  <div class="main-page">

    <!-- LEFT MENU -->
    <app-menu (bodyBackgroundColor)="setBackgroundColor($event)"></app-menu>

    <!-- MAIN CONTENT -->
    <div class="main-content"  [ngClass]="isHelpActive? 'blur' : ''">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
