.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.admin-table {
  padding: 2vmin;
  border: #5396EC 1vmin solid;
  border-radius: 5vmin;
  width: 100vmin;
  background-color: #5396EC;
  -webkit-box-shadow: 0 0 3vmin 1vmin rgba(0,0,0,0.31);
  -moz-box-shadow: 0 0 3vmin 1vmin rgba(0,0,0,0.31);
  box-shadow: 0 0 3vmin 1vmin rgba(0,0,0,0.31);
}

.text-connexion {
  text-align: center;
  color: var(--customWhite);
  font-size: 2.4rem;
  padding: 3vmin;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;

}

.admin-form {
  display: flex;
  flex-direction: column;
}

.input-custom {
  padding: 2vmin;
  margin: 2vmin;
  border: var(--customWhite) 0 solid;
  border-radius: 2vmin;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}

.button-card {
  padding: 2vmin;
  margin: 2vmin;
  border: var(--customWhite) 0 solid;
  border-radius: 2vmin;
  background-color: var(--customGray);
  color: var(--customWhite);
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
  font-size: 1rem;
}

.button-card:hover {
  background-color: #555555;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.4;
  text-align: center;
}

.disable-button {

  opacity: 0.5;
}
.error-text{
  font-size: xx-large;
  color: var(--customRed);
  text-align: center;
  font-family: var(--customFont), sans-serif;
  font-weight: 900;
}
